@import '../variables.scss';

.banner{
    height: 500px;
    position: relative;

    &_burger{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 45px;
        display: none;
        height: 35px;

        button{
            position: relative;
            width: 100%;
            height: 100%;
            outline: none;
            background: none;
            border: none;
            z-index: 10;
            cursor: pointer;

            span{
                position: absolute;
                background: white;
                height: 16%;
                border-radius: 20px;
                transition: .3s;
                right: 0;
            }

            span:nth-child(3){
                bottom: 0;
                width: 45%;
            }

            span:nth-child(2){
                bottom: 41%;
                width: 70%;
            }

            span:nth-child(1){
                width: 95%;
                top: 0;
            }
        }

        &_active{
            span:nth-child(2){
                opacity: 0;
                pointer-events: none;
            }

            span:nth-child(1){
                transform: rotate(-40deg) !important;   
                top: 41.5% !important;             
            }

            span:nth-child(3){
                transform: rotate(40deg) !important;   
                bottom: 41.5% !important;     
                width: 100% !important;        
            }
        }
    }

    @media screen and(max-width: 800px){
        &_burger{
            display: block;
        }
    }

    @media screen and(max-width: 520px){
        height: 600px;
    }

    img{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }

    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(0, 0, 0, 0.6);
    }

    &_content{
        z-index: 3;
        width: 80%;
        left: 10%;
        top: 35%;
        position: absolute;
        text-align: center;

        @media screen and(max-width:1050px){
            width: 70%;
            left: 15%;
        }

        @media screen and(max-width:900px){
            width: 80%;
            left: 10%;
        }

        @media screen and(max-width:800px){
            width: 70%;
            left: 15%;
            top: 25%;
        }

        @media screen and(max-width:500px){
            top: 20%;

            div{
                margin-top: 5px !important;
                a{
                    width: 200px;
                    padding: 10px 0 !important;
                    margin-top: 25px !important;
                    display: flex;
                    justify-content: center;
                }
            }
        }

        @media screen and(max-width:400px){
            width: 80%;
            left: 10%;
        }

        h3{
            color: white;
            margin: 0;
            font-size: 40px;
            margin-bottom: 10px;

            svg,
            span{
                color: $app-color;
            }
        }

        p{
            color: white;
            font-weight: 300;
            line-height: 1.6;
            margin: 0;
        }

        div{
            margin-top: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            a{
                background: $app-color;
                outline: none;
                align-items: center;
                display: flex;
                text-decoration: none;
                border-radius: 30px;
                color: white;
                margin: 0 10px;
                border: none;
                padding: 8px 20px;

                svg{
                    margin-left: 5px;
                }
            }
        }
    }
}