@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
}

button,
.root{
    font-family: 'Nunito', sans-serif;

    &_container{
        width: 80%;
        margin: 0 auto;

        @media screen and(max-width:1050px){
            width: 90%;
        }
    }
}